<section class="shadow parallax2 url3 white row ">
            <a id="article-anch2" class="anch col-md-12 d-none d-md-block"></a>
            <div class="row container m-a bk6 shadow">
                <div class="col-12 col-md-6 p-50 mb50">
                    <img src="{{ post.get_field('image_1_section_2').url }}" class="d-block w-100 shadow op7" alt="">
                    <a href="#article-anch3" class="button button-h t-a-center d-lg-block d-none color3 anch m-a col-12 mt30">
                        <span class="white"><i class="fas fa-chevron-down"></i></span>
                    </a>
                </div>

                {# <div class="offset-md-1 d-md-block d-none"></div> #}
                <div class="col-12 col-md-6 p-30">
                    <h1 class="green font2 t-a-center">
                        <img src="{{ theme.link }}/assets/img/frondaison-white.png" alt="" class="w-10 mb10">
                        {{ post.get_field('titre1_section_2') }}
                    </h1>
                    <div class="font3 p-30 mb50">
                        {{ post.get_field('texte1_section_2') }}
                    </div>


                </div>
            </div>
            <a id="article-anch3" class="anch col-md-12 d-none d-md-block"></a>
            <div class="row bk6 container m-a shadow mb-20">
                <div class="col-12 col-md-6 p-30">
                    <h1 class="green font2 t-a-center">
                    <img src="{{ theme.link }}/assets/img/frondaison-white.png" alt="" class="w-10 mb10">
                    {{ post.get_field('titre2_section_2') }}</h1>
                    <div class="t6 t-md-6 t-lg-6 font3 p-30 mb50">
                        {{ post.get_field('texte2_section_2') }}
                    </div>

                </div>
                {# <div class="offset-md-1 d-md-block d-none"></div> #}
                <div class="col-12 col-md-6 mb50 p-50">
                    <img src="{{ post.get_field('image_2_section_2').url }}" class="shadow op7 d-block w-100" alt="">
                    <a href="#article-anch4" class="button button-h t-a-center d-lg-block d-none color3 anch m-a col-12 mt30">
                        <span class="white"><i class="fas fa-chevron-down"></i></span>
                    </a>
                </div>
            </div>



        </section>
