<section class="shadow parallax2 url5 white row p-0 mb-10">
    <a id="article-contact" class="anch col-md-12 d-none d-md-block"></a>
    <div class="row w-0 bk6 p-30 m-a mb-20">
        <div class="col-12 col-md-6">
            <div class="p-10 t-5 t-md-8 font2 m-a t-a-center">
                <h1 class="t-a-center upper white">
                    <span class="ml10 font2 d-inline-block bk5 p-20">
                        <img src="{{ theme.link }}/assets/img/frondaison-white.png" alt="" class="w-10 mb10"> Contact</h1>
                    </span>
                <a href="#article-anch7" class="button button-h t-a-center d-lg-block d-none color3 anch m-a col-12">

                    <span class="white"><i class="fas fa-chevron-down"></i></span>

                </a>
            </div>
            <div class="shadow ml10 mt30">
                {% for contact in contacts %}
                    {{ contact.get_field('lieu_relatif_au_contact').map }}
                    
                {% endfor %}
            </div>
        </div>
        {% for lieu in lieux  %}
            {% for contact in contacts %}
                {% if lieu.id == contact.get_field('lieu_relatif_au_contact').id %}
                    
                
                    <div class="t-a-center  font2 col-12 col-md-6 m-a white p-20 contact-bloc">
                        <div class="w-20 m-a">
                            <img src=" {{ lieu.thumbnail.src }} " alt=" {{ lieu.thumbnail.alt }} " class="w-100 m-a d-block">
                        </div>
                        <p class="green">
                            {{ lieu.title}}
                        </p> 
                        <p class="white">
                            {{ lieu.get_field('adresse_ligne_1') }}
                        </p>
                        <p class="white">
                            {% if lieu.get_field('adresse_ligne_2') %}, {{ lieu.get_field('adresse_ligne_2') }} {% endif %}
                        </p>
                        <p class="white">
                            {{ lieu.get_field('cp') }} - <span class="white">{{ lieu.get_field('commune') }}</span>
                        </p>
                        <p class="white">
                            <i class="fal fa-phone t2"></i>  {{ lieu.get_field('tel') }}
                        </p>
                        <div class=" d-none d-lg-flex row mt20  m-a p-30"> 
                            <div class="col-12 col-md-4">
                                <img src=" {{ lieu.get_field('qrcode').url }} " alt="{{ lieu.get_field('qrcode').alt}}" class="w-80 m-a d-block">
                            </div>
                            <p class="col-12 col-md-8 mt20"> <span class="green">{{ 'scannez' }} pour vous y rendre !</span></p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <a id="article-anch7"></a>
        <div class="col-12 col-md-6 p-30">
            <h2 class="t-a-center">
                <span class="green m-a p-20 shadow bk6">
                    <i class="white fal fa-envelope"></i> Envoyer un message
                </span>
            </h2>  
            <div class="w-90 m-a">{{ '[caldera_form id="CF5eae0a78ba590"]'|shortcodes }}</div>  
        </div>
        <div class="col-12 col-md-6 p-30">
            <h2 class="t-a-center">
                <span class="green m-a p-20 shadow bk6">
                    <i class="white fal fa-wine-bottle"></i> Newsletter
                </span>
            </h2>  
        
            <p>{{ '[mailpoet_form id="2"]'|shortcodes }}</p>
            
            <div class="w-100 mt-20">
                <img src=" {{ theme.link }}/assets/img/frondaison-white.png " alt="logo" class="m-a w-10 d-block">
            </div>
        </div>
    </div>
        
</div>
        
    
</section>