<section>
    <h2 class="p-10 font2 w-100 t-a-center mb20">
            {{ post.get_field('titre_3') }}
    </h2>
     <div class="row mb-10">
    {% for item in articles %}
               {% for term in item.terms %}
                   {% if term.name ==  'Au coeur de l\'ébénisterie' %}
                        <a href=" {{ item.link }} " class="toile col-12 col-md-6 col-lg-4 d-block m-a mb20">
                            <div>
                                <img src=" {{ item.thumbnail.src }} " alt=" {{ item.thumbnail.alt }} " class="toile w-100 d-block">
                            </div>
                            
                             <p class="caption3 bk6 t6 w-80 green t-a-center">
                                <img src="{{ theme.link }}/assets/img/frondaison-white.png" alt="" class="w-30 p-20">
                                <br>
                                 {{ item.title }}
                            </p>
                            <p class="caption2 bk8 d-none d-lg-block  white">
                                {{ item.post_excerpt }} <span class="green p-10"> (cliquer pour lire l'article)</span>
                           </p>
                        </a>
                   {% endif %}
                   
               {% endfor %}
          {% endfor %}
    </div>
</section>